body {
    background-image: url("imgs/bg2.png");
    background-size: cover;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

button {
    margin: 5px 0px 0px 0px;
    width: 100px;
    height: 100px;
    border: none;
    background: none;
    background-image: url("imgs/BTN_BG.gif");
    background-size: cover;
}

.btnContainer {
    position: absolute;
    top: 5%;
    left: 65%;
    width: 400px;
    justify-content: center;
    text-align: center;
}
